.catalog {
  padding: 0;

  .catalog__title {
    .title-h2();
    text-align: left;
  }

  .list-catalog {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .list-catalog__item-catalog {
    position: relative;
    padding: 0;
    border-top: 1px solid rgb(237, 237, 237);
    display: flex;
    flex-direction: column;

    .item-catalog__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .item-catalog__img {
      align-self: center;
    }
  }

  .item-catalog__button {
    align-self: center;
    text-align: center;
    font-family: @osr;
    font-size: 14px;
    line-height: 18px;
    color: rgb(255, 255, 255);
    width: 280px;
    height: 40px;
    text-transform: uppercase;
    background-color: rgb(104, 183, 56);
    border: none;
    margin-bottom: 25px;
  }

  .item-catalog__link {
    font-family: @osr;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: normal;
    width: 140px;
    align-self: flex-end;
  }

  .item-catalog__title-catalog {
    font-weight: normal;
  }

  .item-catalog__price {
    margin-top: 25px;
    width: 140px;
    align-self: flex-end;
  }

  .price__collumn {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: rgb(68, 68, 68);
  }
}

.more {
  .more__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .more__icon {
    font-family: @osr;
    font-size: 16px;
    line-height: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: normal;
  }

  .more__actually {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: rgb(68, 68, 68);
    font-weight: normal;
  }

  .button-all {
    width: 280px;
    height: 40px;
    font-family: @osr;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: normal;
    color: rgb(68, 68, 68);
    border: none;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    .catalog__title {
      font-size: 60px;
    }

    .list-catalog {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;

      .item-catalog {
        width: 320px;
        background-color: rgb(242, 242, 242);
        margin-top: 140px;
        margin-right: auto;
        margin-left: auto;

        .item-catalog__wrapper {
          flex-direction: column;
          align-items: center;
        }

        .item-catalog__button {
          width: 250px;
        }
      }
    }

    .more {
      margin-left: auto;
      margin-right: auto;
      margin-top: 140px;

      .more__button-all {
        width: 250px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    .list-catalog {
      .item-catalog {
        width: 250px;

        .item-catalog__button {
          width: 170px;
        }
      }
    }

    .more {
      .more__button-all {
        width: 170px;
      }
    }
  }
}
