.page-footer {
  background-color: rgb(242, 242, 242);

  .page-footer__container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }

  .page-footer__logo {
    align-self: center;
    margin: 40px 0 30px 0;
  }

  .footer-social {
    margin: 0;
    list-style: none;
    border-top: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
    align-self: stretch;
  }

  .developer__name {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: rgb(68, 68, 68);
    margin: 30px 0  25px 0;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    .page-footer__container {
      width: auto;
      padding: 0 30px;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    .page-footer__container {
      width: 1220px;
      margin: 0 auto;
      padding: 0;
    }
  }
}
