.promo {
  background-image: url( '../img/index-background-mobile@1x.jpg');
  height: 305px;
  .promo__title{
    font-family: @osr;
    font-size: 36px;
    line-height: 36px;
    color: rgb(255, 255, 255);
    font-weight: normal;
  }
  .promo__quote{
    font-family: "Oswald Regular","Arial", sans-serif;
    font-size: 14 px;
    line-height: 14px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: normal;
  }
}
.button-green{
  font-family: @osr;
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  display: block;
  width: 280px;
  height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(104, 183,56);
  border: none;
}
